@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playball&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.font-lobster{
  font-family: 'Lobster', cursive;
}

.font-indie-flower{
  font-family: 'Indie Flower', cursive;
}

.header{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hero-carousel-wrapper {
  height: 600px;
}

.template-wrapper {
  background-color: rgb(5, 45, 45);
  padding: 2rem;
}

.coach-list-wrapper {
  min-height: 600px;
}

.coach-details {
  padding-left: 4rem;
  padding-right: 4rem;
}

.coach-details h2 {
  font-family: 'Playball', cursive;
}

.coach-details p {
  line-height: 2.5rem !important;
  font-family: "Poppins", serif;
  font-family: 'Indie Flower', serif;
  font-weight: 500;
}

.coach-image-block {
  position: relative;
}

.coach-image-block::before {
  content: "";
  position: absolute;
  top: 5px;
  left: auto;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: #fff;
  z-index: 1;
  transform: rotate(45deg);
}

.coach-image-block::after {
  transform: rotate(45deg);
  content: "";
  position: absolute;
  bottom: -15px;
  left: auto;
  right: -36px;
  width: 144px;
  height: 100px;
  background-color: #fff;
  z-index: 1;
}

.frame-image {
  position: relative;
  position: relative;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.coach-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.calendar-wrapper{
  position: relative;
  min-height: 550px;
}

.calendar-frame{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .calendar-container {
  position: relative;
  width: 500px;
  height: 300px;
} */

.calendar-container {
  position: absolute;
  width: 450px;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar-container .react-calendar{
  border: none;
  width: 450px;
}
.calendar-wrapper{
  width: 100%;
  height: 100%;
  /* background-image: url("./images/calender.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}